@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

body {
  background-color: #d4d4d4;
}

.navbar {
  background-color: #191919 !important;
}

#login-logo-holder {
  display: flex;
  justify-content: center;
}

#loginLogo {
  padding: 10px !important;
  width: 400px;
}

.badge {
  margin-right: 4px;
  background-color: brown !important;
  color: white !important;
}

#breadcrumb-container {
  padding-top: 15px;
}

.card {
  margin: 10px;
  background-color: #e9e6e4;
}

.read-more-btn {
  border: none;
  padding: 4px 15px 4px 15px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px black;
  background-color: brown;
  color: white;
}

i {
  padding-right: 10px;
}